@{
    ViewData["Title"] = "Home Page";
}
<div class="card" style=" margin: 50px 0px 0px 30px; width: 1000px;">
    
    <div class="card-body">
        <img src="https://images.pexels.com/photos/207692/pexels-photo-207692.jpeg" class="card-img-top" height="300px" width=""alt="...">
        <h5 class="card-title">Welcome to our College Website</h5>
        <p class="card-text">Welcome to our College, a place where education meets excellence. Our mission is to
            provide students with high-quality education, practical skills, and opportunities for overall development.
            With experienced faculty, modern infrastructure, and a student-focused environment, we strive to prepare students
            for successful careers and responsible citizenship.</p>
        <a href="https://localhost:7070/Home/About" class="btn btn-primary">About Us</a>
    </div>
</div>
