@{
    ViewData["Title"] = "Training";
}

<div class="d-flex gap-4" style="margin-top:50px">

    <div class="card" style="width: 22rem;">
        <img src="https://img.freepik.com/free-photo/group-multinational-busy-people-working-office_146671-15660.jpg?semt=ais_rp_progressive&w=740&q=80" style="height: 50%" alt="...">
        <div class="card-body">
            <h5 class="card-title">Technical Training</h5>
            <p class="card-text">
                Our college provides comprehensive technical training programs designed to equip students with practical knowledge and hands-on experience in modern technologies.
            </p>
            <a href="#" class="btn btn-primary">Learn More</a>
        </div>
    </div>
    <div class="card" style="width: 22rem;">
        <img src="https://thumbs.dreamstime.com/b/soft-skills-concept-sketched-screen-87908843.jpg" style="height: 50% class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Soft Skills Development</h5>
            <p class="card-text">
                Along with academic learning, we focus on improving students’ soft skills such as communication, teamwork, leadership, and personality development.
            </p>
            <a href="#" class="btn btn-primary">Learn More</a>
        </div>
    </div>
    <div class="card" style="width: 22rem;">
        <img src="https://t4.ftcdn.net/jpg/03/28/87/75/360_F_328877504_vqbwAgOSQxNz3oqaoo72RiG7QXIBJE44.jpg" style="height: 50% class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Internship Opportunities</h5>
            <p class="card-text">
                We encourage students to participate in internships that allow them to gain real-world experience. Through internships, students 
                get the opportunity to work on live projects, understand workplace culture, and apply their academic knowledge in practical situations.
            </p>
            <a href="#" class="btn btn-primary">Learn More</a>
        </div>
    </div>
</div>
