.table {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

    .table th {
        background: #0072ff;
        color: white;
        text-align: center;
    }

    .table td {
        text-align: center;
    }

/* Buttons */
.btn-custom {
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
}

/* Create Button - Blue Gradient */
.btn-create {
    background: linear-gradient(90deg, #2196f3, #0d47a1);
    color: white;
    border-radius: 25px;
    padding: 8px 18px;
    font-weight: 500;
    border: none;
}

    .btn-create:hover {
        transform: scale(1.05);
        transition: 0.2s;
        color: white;
    }

.btn-edit {
    background: #ffc107;
    color: black;
}

.btn-delete {
    background: #e53935;
    color: white;
}


