
@{
    ViewData["Title"] = "Index";
}
<style>
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1503376780353-7e6692767b70') no-repeat center center fixed;
    background-size: cover;
}

.font-top {
    background: linear-gradient(to right, #ff0000, #8b0000); 
    color: #fff;
    padding: .45rem .85rem;
    border-radius: .35rem;
    text-decoration: none;
}</style>

<h1 class="font-top">Welcome to CarHub</h1>

