
@{
    ViewData["Title"] = "Index";
}
<h2>Cart Value</h2>
 <h4>Total Amount - @ViewBag.basePrice</h4>
<h4>Discount Applied - @ViewBag.promocode</h4>
<h4>Final Amount after Discount - @ViewBag.discountedPrice</h4>

