<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ssfuncapp-ekekfyewd4aqh6at.malaysiawest-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8775f1ed-ab41-4d4d-b7f5-785a8cffc837/resourceGroups/ss-assignment/providers/Microsoft.Web/sites/ssFuncApp</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://ssfuncapp-ekekfyewd4aqh6at.scm.malaysiawest-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>