@using NorthWind.Services.DTOs
@model List<ProductDto>

@{
    ViewData["Title"] = "Products";
}

<h2 class="mb-4">Products</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card border-primary shadow-sm h-100">

                <div class="card-body">
                    <h5 class="card-title">@item.ProductName</h5>

                    <p><strong>Price:</strong> ₹@item.UnitPrice</p>
                    <p><strong>Stock:</strong> @item.UnitsInStock</p>

                    <hr />
                  
                </div>

            </div>
        </div>
    }
</div>

<a href="/Categories" class="btn btn-secondary mt-3">
    Back to Categories
</a>