
@{
    ViewData["Title"] = "Software";
}


<h2 class="mb-4">Software Products</h2>

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Software</th>
            <th>Version</th>
            <th>License</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Visual Studio</td>
            <td>2022</td>
            <td>
                <span class="badge bg-success">Active</span>
            </td>
        </tr>

        <tr>
            <td>Photoshop</td>
            <td>2024</td>
            <td>
                <span class="badge bg-warning text-dark">Trial</span>
            </td>
        </tr>

        <tr>
            <td>MS Office</td>
            <td>365</td>
            <td>
                <span class="badge bg-success">Licensed</span>
            </td>
        </tr>
    </tbody>
</table>

