
@{
    ViewData["Title"] = "Index";
}
<p style="margin-top: 10px">For more enquiry fill the details below. Our support team will contact you soon.</p>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Query</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write your query here..."></textarea>
</div>


