@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Destination

<form asp-action="Create">
    <input asp-for="CityName" placeholder="City" />
    <input asp-for="Country" placeholder="Country" />
    <input asp-for="Description" placeholder="Description" />
    <input asp-for="Rating" placeholder="Rating" />
    <button type="submit">Save</button>
</form>

