@model IEnumerable<Destination>

<h2 class="mb-3">Destinations</h2>

<a asp-action="Create" class="btn btn-create mb-3">
    + Add New
</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>City</th>
            <th>Country</th>
            <th>Rating</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CityName</td>
                <td>@item.Country</td>
                <td>@item.Rating</td>
            </tr>
        }
    </tbody>
</table>
